<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <handlers>
    
      <add name="ImageHandler" verb="POST"
      path="images/*"
      type="FileUploadProject.ImageHandler"
      resourceType="Unspecified" />
      <add name="ImageHandler2" verb="*" path="*.jpg"
             type="FileUploadProject.ImageHandler"/>
      <add name="ImageHandler3" verb="*" path="*.png"
               type="FileUploadProject.ImageHandler"/>
      <add name="ImageHandler4" verb="*" path="*.gif"
             type="FileUploadProject.ImageHandler"/>
    </handlers>
  </system.webServer>
</configuration>
